<div class="container my-5">
  <h1 class= 'fs-3'>All ours Flats (<%= @flats.count %>)</h1>
  <hr>
  <div class="row justify-content-center" style="gap: 1.2rem" >
    <% @flats.each do |flat| %>
      <div class="col-lg-3 col-md-4">
        <div class="card" >
          <img src="<%=flat.image_url%>" class="card-img-top" alt="random">
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.address %></p>
            <div class='d-flex justify-content-between'>
              <p><i class="fa-solid fa-user-group"></i> <%= flat.number_of_guests %></p>
              <p><i class="fa-solid fa-dollar-sign"></i> <%= flat.price_per_night %></p>
            </div>
            <div>
              <%= link_to 'more info', flat_path(flat), class: 'text-primary' %>
              <%= link_to 'edit', edit_flat_path(flat), class: 'text-warning' %>
              <%= link_to 'remove', flat_path(flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'text-danger' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
